/*  GENERAL STYLING */

body {
    font-family: 'Raleway', sans-serif;
}
h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    color: #bb9f05!important;
}
a {
    color: #000000!important;
}
.button {
    color: #ffffff!important;
    margin-left: 1.2rem;
    background-color: transparent;
    border: 2px solid #bb9f05;
}
.button:hover {
    background-color: #bb9f05;
    border: 2px solid #bb9f05;
}
.container-fluid {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/*  MULTIPLE SECTION STYLING    */

.menu, .bg-tastebuds, .team {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*  NAVIGATION BAR  */

.bg-main {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent!important;
}
.nav-link {
    color: #ffffff!important;
    padding-left: 2rem!important;
}

/*  WELCOME   */

.jumbotron {
    background-color: transparent;
    color: #ffffff;
    padding: 5rem;
    margin-bottom: 0;
}
.jumbotron p {
    margin-top: 2rem;
}

/*  MENU    */

.menu {
    background-image: url(../images/pattern3.png);
}
.menu img, .menu p, .menu h1 {
    margin-bottom: 2rem;
}
.menu-text {
    margin-bottom: 5rem;
}
.dishname {
    margin-top: 3rem;
}
.dishname img {
    width: 100%; 
}
.price {
    font-size: 5rem!important;
    margin-top: 2rem;
}

/*  TASTEBUDS   */

.bg-tastebuds {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    color: #ffffff;
}
.bg-tastebuds img {
    padding-bottom: 2rem;
}
.tastebuds-img {
    width: 100%;
}
.col-pad-0 {
    padding: 0;
}
.bg-tastebuds .row {
    padding-top: 3rem;
}

/*  OUR TEAM   */

.team img {
   width: 100%; 
}
.team img:hover {
    filter: grayscale(1);
    transition: all 0.5s none;
    transition-duration: 0.5s;
}
.team h4, .team p {
    margin-top: 1.2rem;
}