/*  GENERAL STYLING */
html {
    overflow-x: hidden;
}
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Pacifico', cursive;
    color: #bb9f05!important;
}
.button {
    color: #ffffff!important;
    margin-left: 1.2rem;
    background-color: transparent;
    border: 2px solid #bb9f05;
    border-radius: 0px;
}
.button:hover {
    background-color: #bb9f05;
    border: 2px solid #bb9f05;
}
.button a {
    color: #ffffff;
    text-decoration: none;
}
.container-fluid {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

/*  MULTIPLE SECTION STYLING    */

.menu, .bg-tastebuds, .team, .reservation {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/*  NAVIGATION BAR  */

.bg-main {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparent!important;
}
.nav-link {
    color: #ffffff!important;
    padding-left: 2rem!important;
}
.navbar-toggler {
    border: 2px solid #bb9f05!important;
    border-radius: 0;
}
.fa-bars {
    color: #ffffff;
}

/*  WELCOME   */

.jumbotron {
    background-color: transparent;
    color: #ffffff;
    padding: 5rem;
    margin-bottom: 0;
}
.jumbotron p {
    margin-top: 2rem;
}

/*  MENU    */

.menu {
    background-image: url(../images/pattern3.png);
}
.menu img, .menu p, .menu h1 {
    margin-bottom: 2rem;
}
.menu-text {
    margin-bottom: 5rem;
}
.dishname {
    margin-top: 3rem;
}
.dishname img {
    width: 100%; 
}
.price {
    font-size: 4rem!important;
    margin-top: 2rem;
}

/*  TASTEBUDS   */

.bg-tastebuds {
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}
.bg-tastebuds img {
    padding-bottom: 2rem;
}
.tastebuds-img {
    width: 100%;
}
.col-pad-0 {
    padding: 0;
}
.bg-tastebuds .row {
    padding-top: 3rem;
}

/*  OUR TEAM   */

.team .col-md-4 img {
   width: 100%; 
}
.team .col-md-4 img:hover {
    filter: grayscale(1);
    transition: all 0.5s none;
    transition-duration: 0.5s;
}
.team img {
    padding-bottom: 2rem;
}
.team h4, .team p {
    margin-top: 1.2rem;
}
.social-icon-pack a {
    color: inherit;
}
.social-icon-pack a:hover {
    color: #bb9f05;
}
.fa {
   font-size: 1.5rem!important;
    padding; .25rem;
}

/*  RESERVATIONS    */

.reservation {
    background-image: url(../images/reservations-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ffffff;
}
.reservation img {
    padding-bottom: 2rem;
}
form {
    border: 5px solid #bb9f05;
    padding: 5rem;
}
.form-control {
    background-color: transparent;
    border: 2px solid #bb9f05;
    border-radius: 0px;
}
.form-group {
    margin: 0 5rem;
}
label {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.reservation .btn {
    margin-top: 2rem;
}

/*  FOOTER  */

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #000000;
    border-top: 2px solid #bb9f05;
}
.social-icon-pack-white a {
    color: #868e96!important;
}
.social-icon-pack-white a:hover {
    color: #bb9f05!important;
}